﻿/*

  *	classic-skin.css
	Styling skin for the RAGE Metadata Editor.

  * Copyright 2015-2016 Sofia University
  
	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	This project has received funding from the European Union’s Horizon
	2020 research and innovation programme under grant agreement No 644187.
	You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
*/


body {
	font-family: Candara, Arial, Helvetica, sans-serif;
	text-align: center;
}


/* images embeded in the header must be project logos */
h1>img {
	height: 1.5em;
	vertical-align: -0.35em;
}


/* a title resembling the text of RAGE's logo */
h1, h2, h3 {
	display: block;
	position: relative;
	margin: 0;

	color: #505050;
	text-shadow: 0 0 2px LightGray;
	text-transform: uppercase;

	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.5em;
	font-weight: bold;

	#transform: scale(0.95,1);
	#-ms-transform: scale(0.95,1);
	#-webkit-transform: scale(0.95,1);
}


h1 {
	margin: inherit;
}

h3 {
	font-size: 1em;
}

.launchButton  {
	display: inline-block;
	#color: white;
	text-align: center;
	background-color: GhostWhite;
	#box-shadow: 0.1em 0.2em 0.5em DimGray inset;
	#text-shadow: 0 0 2px Black;
	text-transform: uppercase;
	text-decoration: none;
	#transform: scale(1,1);
	#-ms-transform: scale(1,1);
	#-webkit-transform: scale(1,1);
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.5em;
	#font-weight: bold;
	padding: 0.25em 1em;
	border-radius: 0.3em;
	border: dotted 1px LightGray;
	margin: 0.25em;
	cursor: pointer;
	#position: relative;
	#top: -0.35em;
}


.tabbutton, .tabborder  {
	background-color: white;
	display: inline-block;
	width: inherit;
	height: 1.5em;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.8em;
	font-weight: bold;
	padding: 0.5em 1em 0.25em 1em;
	margin: 0 0.2em;
	border-left: solid 1px Gray;
	border-top: solid 1px Gray;
	border-right: solid 1px Gray;
	border-bottom: solid 1px Gray;
	cursor: pointer;
	position: relative;
	z-index: 20;
}


.tabbutton {
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
}


.tabborder {
	position: absolute;
	left: 0;
	margin-left: 5%;
	height: calc(1.5em + 1px);
	width: 90%;
	overflow: hidden;
	border-width: 0;
	border-left: none;
	border-top: solid 0px white;
	border-right: none;
	border-bottom: solid 1px gray;
	border-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), gray, gray, rgba(0, 0, 0, 0)) 100% 1;
	-webkit-border-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), gray, gray, rgba(0, 0, 0, 0)) 100% 1;
	-moz-border-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), gray, gray, rgba(0, 0, 0, 0)) 100% 1;   
	
   z-index: 10;
}


.tabbutton[selected=true] {
	color: #1fa074;
	border-bottom: solid 2px White;
}


.tabbutton[error=true] {
	background-color: Tomato;
}

.tabbutton[selected=true]:hover {
	color: White;
}

.tabbutton[selected=true][error=true] {
	color: White;
}

.tabs
{
	display: block;
	padding: 0 5em;
	overflow: hidden;
    #border: 1px solid Red;
}

.launchButton[href] {
	cursor: pointer;
}

.launchButton small {
	display: block;
	text-shadow: 0 0 1px Black;
	font-size: 0.7em;
	font-weight: normal;
}


.launchButton[href]:hover {
	background-color: MediumAquaMarine;
}

.tabbutton[href]:hover {
	background-color: MediumAquaMarine;
}

a.launchButton, a.launchButton:visited  {
	color: Black;
}

a.launchButton:hover, a.launchButton:visited:hover  {
	color: Black;
}
div { 
	padding: 0.0em;
	margin: 0.0em 0;
}


.frame {
	text-align: left;
	display: inline-block;
	border: solid 1px LightGray;
	border-radius: 0.25em;
	margin: 0 0 0 2em;
	padding: 0 0.5em 0.25em 0.25em;
	/*overflow: hidden; --must not be hidden, because of the tooltips*/
	//box-shadow: 0 0 20em White inset;
}


.arrow {
	position: relative;
	left: -15em;
	top: 1.5em;
	color: LightGray;
	font-size: 50%;
}


.label {
	border: none;
	//border-bottom: dotted 1px lightgray;
	display: inline-block;
	width: 7em;
	color: #1fa074;
	padding: 0.2em 0.5em;
	margin: 0;
	text-transform: capitalize;
	vertical-align: top;
}


div.label[toggle] {
	//width: auto;
	cursor: pointer;
	font-weight: bold;
	#text-transform: uppercase;
}


div.label[toggle][collapsed]:after {
	font-weight: normal;
	padding-left: 0.3em;
	#color: Black;
	font-size: 0.75em;
	content: '\25bc';
}


div.label[toggle]:not([collapsed]):before {
	font-weight: normal;
	padding-right: 0.2em;
	#color: Black;
	#font-size: 1.25em;
	#content: '\0020';
}


div.label[toggle]:hover {
	border-radius: 0.35em;
	background-color: MediumAquaMarine;
	color: Black;
}


.row.incompleteData .label{
	color: Tomato;
}


.compulsory {
	font-size: 75%;
	color: Tomato;
}


.row {
	position: relative;
	/*overflow: hidden; --must not be hidden, because of the tooltips*/
	margin: 2px;
	margin: 0em;
	border-top: dotted White 1px;
	/*border: dotted red 1px;*/
	padding: 0.3em 0 0.2em 0.2em;
}


.row[hidden] {
	overflow: hidden; /* --must not be hidden, because of the tooltips*/
	background-color: LightPink;
	height: 0;
	padding: 0;
	margin: 0;
	border: none;
}

.row[acem-rypy-hidden] {
	background-color: LightPink;
}

.row.incompleteData, .row.errorInChild {
	border-left: solid 0.3em Tomato;
}


::-webkit-input-placeholder {
	position: relative;
	top: 0.25em;
	font-weight: normal;
	font-size: 65%;
	color:    #9AB9AE;
	text-shadow: none;
}


::-webkit-textarea-placeholder {
	position: relative;
	top: 0.25em;
	font-weight: normal;
	font-size: 65%;
	color:    #9AB9AE;
	text-shadow: none;
}


:-moz-placeholder {
	position: relative;
	top: 0.25em;
	font-weight: normal;
	font-size: 65%;
	color:    #9AB9AE;
	text-shadow: 0 0 0 LightGray;
}


::-moz-placeholder {
	position: relative;
	top: 0.25em;
	font-weight: normal;
	font-size: 65%;
	color:    #9AB9AE;
	text-shadow: 0 0 0 LightGray;
}


:-ms-input-placeholder {
	font-weight: normal;
	color:    #9AB9AE;
	text-shadow: 0 0 0 LightGray;
}


:-ms-textarea-placeholder {
	font-weight: normal;
	color:    #9AB9AE;
	text-shadow: 0 0 0 LightGray;
}


input, textarea {
	font-family: Candara, Arial, Helvetica, sans-serif;
	font-size: 1.25em;
	border: none;
	border-left: solid 1px LightGray;
	border-right: solid 1px LightGray;
	border-radius: 0.2em;
	padding: 0.1em 0 0 0.2em;
	text-shadow: 0 0 3px Gainsboro;
	margin: 0;
}


/*input[type="date"]::-webkit-inner-spin-button {
	display: none;
    -webkit-appearance: none;
}
*/
input[type="date"]::-webkit-clear-button {
	display: none;
    -webkit-appearance: none;
}


input[type="date"]::-webkit-datetime-edit {
	//font-size: 1.25em;
}


input[readonly], textarea[readonly] {
	color: Gray;
	background-color: rgb(250,250,250);
	text-shadow: none;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* IE/Edge */
	user-select: none;
}


.button {
	position: relative;
	border: none 1px LightGray;
	border-radius: 0.3em;
	font-size: 75%;
	padding: 0 0.5em 0 0.5em;
	top: -0.5em;
	margin-left: 3em;
	margin-bottom: 0;
	text-transform: uppercase;
	//background-color: White;
	color: Gray;
	cursor: pointer;
}


.button[indented] {
//			top: -0.7em;
	margin-left: 10.5em;
}


.button[clear] {
	margin: 0.5em 0 0 0;
	vertical-align: top;
	width: 2em;
	height: 2em;
	cursor: pointer;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	visibility: hidden;
}


.row:hover > .button[clear] {
	visibility: visible;
	cursor: pointer;
	border-color: solid 1px Tomato;
}


.button[clear]:hover {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
}


span.button:hover {
	background-color: MediumAquaMarine;
	border-color: MediumAquaMarine;
	color: Black;
}


select {
	font-family: Candara, Arial, Helvetica, sans-serif;
	//margin-top: 0.3em;
	font-size: 1.25em;
	//background-color: White;
//			border: none Gray 1px;
//			border-radius: 0 0.3em 0.3em 0;
	border: none;
	border-left: solid 1px LightGray;
	border-right: solid 1px LightGray;
	border-radius: 0.2em;
	cursor: pointer;
	text-transform: capitalize;
	text-shadow: 0 0 5px LightGray;
}


select[lang=true] {
	font-family: Candara, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	position: relative;
	//left: 1em;
	//top: -0.05em;
	margin-left: 0.25em;
	//background-color: #ecf9f4;
	border-radius: 0.3em;
	//text-align: center;
	text-transform: uppercase;
	color: #3fC094;
	text-shadow: none;
}


/* fix for FireFox */
@-moz-document url-prefix() {
select[lang=true]{
	top: -0.15em;
}

}
		select[indented] {
	margin-left: 9.6em;
}

input:focus, textarea:focus, select:focus {
	background-color: #fff0e0;
	color: Tomato;
	text-shadow: 0 0 5px #ffbeb3;
}

div.info {
	color: Tomato;
	position: relative;
	top: 0.25em;
	font-size: 75%;
}

div.info em{
	display: inline-block;
	font-style: normal;
	background-color: Moccasin;
	padding: 0 0.3em;
	border: dotted 1px Tomato;
	text-shadow: 0 0 5px #ffbeb3;
}

.collapsed {
	border: none;
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	overflow: hidden; /*--must be hidden because of the tooltips*/
}

br.collapsed {
	display: none;
}

.acem-rypy-info {
	display: block;
	font-size: 0.75em;
	color: Tomato;
	margin-left: 1em;
	position: relative;
	top: 0.5em;
	z-index: 10;
}


.errorbox {
	display: none;
	color: Tomato;
	text-align: center;
	margin: 0.5em auto;
	#font-size: 125%;
}

.errorbox a{
	display: inline-block;
	padding: 0 0.2em;
	#border: solid 1px Tomato;
	border-radius: 0.25em;
	#margin-right: 0.1em;
	cursor: pointer;
	text-decoration: none;
	text-transform: lowercase;
	color: Tomato;
	font-weight: bold;
	#line-height: normal;
}


.errorbox a:visited {
	font-weight: normal;
	color: Tomato;
}


.errorbox a:hover{
	color: White;
	background-color: Tomato;
}


metadata-editor[uri='skin']
{
	content: 'color:; inden:1';
}

#message h2 {
	font-size: 1.25em;
	transform: scale(1,1);
	-ms-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	font-weight: normal;
	text-transform: none;
}

#message {
	width: 30em; 
	
	background: White; 

	position: fixed; 
	top: 40%;
	left: calc(50% - 15em); 
	z-index: 200; 
	border: solid 0.3em MediumAquaMarine;
	border-radius: 0.5em;
	padding: 1em;
	display:none;
}

#whitening {
	width: 100%; 
	height: 100%;
	
	filter:alpha(opacity=85); 
	-moz-opacity:0.85; 
	-khtml-opacity: 0.85; 
	opacity: 0.85; 
	background: White; 

	position: fixed; 
	top: 0;
	left: 0; 
	z-index: 100; 
	display:none;
	cursor: pointer;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
	font-size: 0.75em;
	font-weight: normal;
	text-transform: none;
	
    visibility: hidden;
    background-color: Tomato;
	color: White;
    /*text-align: center;*/
    padding: 5px 0.5em;
    border-radius: 3px;
	/*text-transform: uppercase;*/
	white-space: nowrap;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 100;
	
    width: auto;
    bottom: calc(100% + 6px);
    left: 2em; 
    margin-left: -2em;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    z-index: 100;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;  /* At the bottom of the tooltip */
    left: 1em;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: tomato transparent transparent transparent;
}

.header {
	#position: absolute;
	#top:0;
	margin: auto;
	margin-bottom: 1em;
	padding-bottom: 0.5em;
	border-bottom: dotted 1px LightGray;
	#width:20em;
	#left:-5%;
	#background-color: white;
	#box-shadow: 0 0 2em Black;
	#padding-top: 0.5em;
	#z-index: 1000;
}


input[type="file"] {
	height: 0;
	width: 0;
	overflow: hidden;
}

.button.upload {
	#float: right;
	font-size: 85%;
	padding: 0 0.5em 0 0.5em;
	top: 0.3em;
}