/*

  *	demo.css
	Styling for the demo pages of RAGE Metadata and
	Taxonomy tools.

  *	Licensed to SU under one or more contributor license agreements.
	See the NOTICE file distributed with this work for additional
	information regarding copyright ownership. SU licenses this file
	to you under the RAGE Software Assets License (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at
       
      http://rageproject.eu/RSALicense
       
	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
	implied.  See the License for the specific language governing
	permissions and limitations under the License.
*/



body {
	text-align: center;
}

/* default width of page content */
p, li>span, table {
	margin: 0.5em auto;
	font-family: Verdana, Geneva, sans-serif;
	max-width: 600px;
	/*color: #308F5A;
	text-shadow: 0 0 1px #AAF1CA;*/
	text-shadow: 0 0 1px LightGray;
}

li {
	text-align: left;
	font-family: Verdana, Geneva, sans-serif;
}


/* a title resembling the text of RAGE's logo */
h1, h2, h3 {
	display: inline-block;
	position: relative;
	margin: 0;

	color: #505050;
	text-shadow: 0 0 2px LightGray;
	text-transform: uppercase;

	font-family: Verdana, Geneva, sans-serif;
	font-size: 2em;
	font-weight: normal;

	transform: scale(0.95,1);
	-ms-transform: scale(0.95,1);
	-webkit-transform: scale(0.95,1);
}

h2 {
	display: block;
	font-size: 1.25em;
	margin: 1.5em 0 0 0;
}

h3 {
	display: block;
	font-size: 1em;
	margin-bottom: 1em;
}

/* images embeded in the body */
body>img {
	display: inline-block;
	position: relative;

	height: 2.4em;
	vertical-align: -0.41em;
}


/* images embeded in the main text */
p>img {
	height: 1em;
	vertical-align: -0.2em;
}


h3>a, p>a, td>a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: normal;
	color: #1fa074;
}

h3>a:hover, p>a:hover, td>a:hover {
	color: Tomato;
}

.launchlabel {
	display: inline-block;
	text-align: right;
	color: MediumAquaMarine;
	text-transform: uppercase;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	padding: 0.5em 1em;
	#border: solid 1px red;
}

.launchbutton {
	display: inline-block;
	color: white;
	width: 12em;
	text-align: center;
	background-color: LightGray;
	text-shadow: 0 0 2px Black;
	text-transform: uppercase;
	text-decoration: none;
	transform: scale(1,1);
	-ms-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.15em;
	font-weight: bold;
	padding: 0.5em 0;
	border-radius: 0.2em;
	margin: 0 0.2em 0.5em;
	#border: solid 1px red;
	cursor: default;
}

.launchbutton[href] {
	cursor: pointer;
	background-color: MediumAquaMarine;
}

.launchbutton small {
	display: block;
	text-shadow: 0 0 1px Black;
	font-size: 0.7em;
	font-weight: normal;
}

.launchbutton[href]:hover {
	background-color: Tomato;
}

.short {
	width: 7em;
}

hr {
	width: 50%;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	margin: 0.5em auto 0.5em;
}

.taxonList, .assetList {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.15em;
	#font-weight: bold;
	display: inline-block;
	text-align: left;
	border-left: solid 0.5em MediumAquaMarine;
	color: #308F5A;
	text-shadow: 0 0 1px #AAF1CA;
}

.taxonList:hover , .assetList:hover {
	color: Tomato;
	cursor: pointer;
	text-shadow: 0 0 1px #ff9380;
	border-left: solid 0.5em Tomato;
}

.footnotes {
	display: inline-block;
	text-align: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.7em;
}

sup {
	color: #308F5A;
	font-size: 0.65em;
	font-style: italic;
}
.footnotes>sup {
	font-size: 0.8em;
}
sup:before {
	padding-left: 0.15em;
	font-style: normal;
	content: '(';
}
sup:after {
	font-style: normal;
	content: ')';
}