﻿/*

  *	manifest-ui.css
	Custom widget mapping and styling for the RAGE Packets metadata.

  * Copyright 2015-2016 Sofia University
  
	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	This project has received funding from the European Union’s Horizon
	2020 research and innovation programme under grant agreement No 644187.
	You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
*/


metadata-editor[uri='http://rageproject.eu/2015/manifest/manifest']
{
	content: 'widget: LabelBlock; autoexpand:true';
}


metadata-editor[uri='http://rageproject.eu/2015/manifest/asset']
{
	content: 'widget: LabelBlock; autoexpand:true';
}


metadata-editor[uri='name']
{
	content: 'widget: TextLine; width: 10em; hint:;';
}


metadata-editor[uri='version']
{
	content: 'widget: TextLine; width: 5em; hint:;';
}


metadata-editor[uri='http://rageproject.eu/2015/manifest/metadata']
{
	content: 'widget: LabelBlock; autoexpand:true';
}


metadata-editor[uri='http://rageproject.eu/2015/manifest/schema']
{
	content: 'widget: TextLine; width: 10em; hint:;';
}


metadata-editor[uri='http://rageproject.eu/2015/manifest/schemalocation']
{
	content: 'widget: TextLine; width: 20em; hint:http://; label:Location';
}


metadata-editor[uri='http://rageproject.eu/2015/manifest/schemaversion']
{
	content: 'widget: TextLine; width: 5em; hint:; label:Version';
}


metadata-editor[uri='http://rageproject.eu/2015/manifest/file']
{
	content: 'widget: TextLine; width: 20em; hint:http://; label:File path';
}

