﻿/*

  *	maze-ui.css
	Custom widget mapping and styling for an imaginary 3D Maze Asset.

  * Copyright 2016 Sofia University
  
	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	This project has received funding from the European Union’s Horizon
	2020 research and innovation programme under grant agreement No 644187.
	You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
*/

metadata-editor[uri='http://rageproject.eu/2015/maze3d/maze3d']
{
	content: 'widget: LabelBlock; autoexpand:true;';
}

metadata-editor[uri='http://rageproject.eu/2015/maze3d/about']
{
	content: 'widget: TextArea; width: 20em; height:2.7em; hint:;';
}


metadata-editor[uri='http://rageproject.eu/2015/maze3d/size']
{
	content: 'widget: LabelBlock; autoexpand:true;';
}

metadata-editor[uri='http://rageproject.eu/2015/maze3d/width']
{
	content: 'widget: TextLine; width: 5em; hint:width in cells;';
}

metadata-editor[uri='http://rageproject.eu/2015/maze3d/height']
{
	content: 'widget: TextLine; width: 5em; hint:height in cells;';
}


metadata-editor[uri='http://rageproject.eu/2015/maze3d/style']
{
	content: 'widget: LabelBlock; autoexpand:true;';
}

metadata-editor[uri='http://rageproject.eu/2015/maze3d/connectivity']
{
	content: 'widget: ListBox;';
}

metadata-editor[uri='http://rageproject.eu/2015/maze3d/density']
{
	content: 'widget: ListBox;';
}



metadata-editor[uri='http://rageproject.eu/2015/maze3d/nvidia']
{
	content: 'widget: LabelBlock; label:NVIDIA settings; tab:GPU;';
}

metadata-editor[uri='http://rageproject.eu/2015/maze3d/ao']
{
	content: 'widget: ListBox; label:Ambient occlusion';
}

metadata-editor[uri='http://rageproject.eu/2015/maze3d/antialias']
{
	content: 'widget: ListBox; label:Antialiasing';
}

metadata-editor[uri='http://rageproject.eu/2015/maze3d/power']
{
	content: 'widget: LabelBlock; label:Power management';
}

metadata-editor[uri='http://rageproject.eu/2015/maze3d/mode']
{
	content: 'widget: ListBox';
}

metadata-editor[uri='http://rageproject.eu/2015/maze3d/source']
{
	content: 'widget: ListBox';
}



metadata-editor[uri='http://rageproject.eu/2015/maze3d/intel']
{
	content: 'widget: LabelBlock; label:Intel settings; tab:GPU;';
}

metadata-editor[uri='http://rageproject.eu/2015/maze3d/color']
{
	content: 'widget: ListBox; label:Color depth';
}

metadata-editor[uri='http://rageproject.eu/2015/maze3d/refresh']
{
	content: 'widget: TextLine; width: 3em; hint:; label:Refresh rate';
}

metadata-editor[uri='http://rageproject.eu/2015/maze3d/vsync']
{
	content: 'widget: ListBox; label:Vertical synch';
}



metadata-editor[uri='http://rageproject.eu/2015/maze3d/agent']
{
	content: 'widget: LabelBlock; label:Cohorts; tab:Agents; autoexpand:true;';
}

metadata-editor[uri='http://rageproject.eu/2015/maze3d/min']
{
	content: 'widget: TextLine; label:Min number; width:3em';
}

metadata-editor[uri='http://rageproject.eu/2015/maze3d/max']
{
	content: 'widget: TextLine; label:Max number; width:3em';
}

metadata-editor[uri='http://rageproject.eu/2015/maze3d/voice']
{
	content: 'widget: ListBox;';
}

metadata-editor[uri='http://rageproject.eu/2015/maze3d/data']
{
	content: 'widget: TextLine; hint:http://; width:15em';
}

metadata-editor[uri='http://rageproject.eu/2015/maze3d/behaviour']
{
	content: 'widget: ListBox;';
}